
header, nav, section, aside, footer {
	/*padding: 10px;
	border: 1px solid green;*/
}

header {
	/*background-color: red;
  padding-bottom: 50px;
  padding-right: 75px;*/
}

.logo {
  width: 200px;
  position: absolute;
  margin-left: 110px;
}

.col-md-4 {

}

.col-md-8 {
  padding-top: 30px;
  text-align: right;
}

.btn {
  border-radius: 0px;
}

nav {
	/*background-color: orange;*/
}

section {
	/*background-color: yellow;*/
}

aside {
	background-color: green;
}

footer {
	background-color: #2f2f2f;
	color: white;
}


/* Footer CSS */

.foot-linkrow { 
	margin-bottom: 10px;
}

.foot-linkrow a {
	margin: 5px 5px 10px;
}

.copyright {
	font-size: 10px;
	color: #777;
}
.copyright p {
	padding: 0;
	margin: 0;
}
